<!DOCTYPE html>
<html lang="en">
<head>
    <!-- style css -->
  <style>
    .pinkBG {
      background-color: lightpink;
    }
  </style>
</head>
<body>

<!-- give us the app to mount -->
  <div id="bind">
    <h2>v-bind samples </h2>
    <!-- bind the class to the style from the CSS -->
    <div v-bind:class="vueClass">Text here to show off v-bind</div><br>
    <div> Show image </div><br>
    <!--set attribute for image from a URL denoted by the script-->
    <img v-bind:src="url"><br>
    <!-- using the shorthand we set the specific styles -->
    <div :style="{ backgroundColor: 'hsl('+bgVal+',80%,80%)' }">This block uses the shorthand</div><br>
    
  </div> <br>


  <div id="show">
    <div v-show="showDiv">This div tag can be hidden</div>
  </div>

  <!--give us the app to mount for if else section-->
  <div id="ifElseVue">   
    <h2>v-if samples </h2>
    <!-- if number given is greater than or equal to 6 determine if in stock and print number-->
    <p v-if="typewritersInStock >= 6">
        in stock number: {{typewritersInStock}}
    </p>
    <p v-else-if="typewritersInStock >= 3"> 
        low stock number: {{typewritersInStock}}
    </p>
    <p v-else>
        not in stock number: {{typewritersInStock}}
    </p><br>
    <p v-if="text.includes('pizza')">The text includes the word 'pizza'</p>
    <p v-else>The word 'pizza' is not found in the text</p>
  </div>

  <div id="forList">
    <ol>
    <li v-for="x in manyFoods">{{ x }}</li>
    </ol>
  </div>

  <div id="eventHandling">
    <!-- Needs to tie to an input via v-on or something similar -->
    <p>{{ "Moose count: " + count }}</p>
    <button v-on:click="count++">Count moose</button>
    <br>
    <input v-on:input="inpCount++">
    <p>{{ 'Input events occured: ' + inpCount }}</p>
    <br>
    <p>Move the mouse pointer over the box below</p>
    <div v-on:mousemove="colorVal=Math.floor(Math.random()*360)"
        v-bind:style="{backgroundColor:'hsl('+colorVal+',80%,80%)'}">
    </div>
  </div>


  <!-- declare script library-->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!--then build the Vue scripts-->
  <script>
    // v-bind practice, shorthand : 
    const bind = Vue.createApp({
      data() {
        return {
          // return the color by assigning the class to the pinkBG we established in the header
          vueClass: "pinkBG",
          // return the file path for the image tag 
          url: "samplePhoto.png",
          // using the shorthand of the class while also giving it straight CSS as an example
          bgVal: 180
        }
      }
    })

    // v-if, v-else-if, v-else
    const ifElseVue = Vue.createApp({
        data() {
            return {
                // give me an integer from 1 to 9
                typewritersInStock: Math.floor(Math.random() * 10),
                text: 'I like taco, pizza, Thai beef salad, pho soup and tagine.'
            }
        }
    })

    const showDiv = Vue.createApp({
        data() {
            return{
              showDiv: true 
            }
        }
    })

  const forList = Vue.createApp({
   data() {
    return {
      manyFoods: [
        'Burrito',
        'Salad',
        'Cake',
        'Soup',
        'Fish',
        'Pizza',
        'Rice'
      ]
    }
   }
  })

    const eventHandling = Vue.createApp({
    data() {
      return {
        count: 0,
        inpCount: 0,
        colorVal: 50
      }
    }
  })
 


    // mount to the app
    bind.mount('#bind')
    ifElseVue.mount('#ifElseVue')
    showDiv.mount("#showDiv")
    forList.mount("#forList")
    eventHandling.mount('#eventHandling') 

  </script>
</body>
</html>